@model MVC.ViewModels.UserDetailsVM

@{
    ViewBag.Title = "ViewUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.displayName</h2>

<div>
    <h4>User details</h4>
    <hr />
    @Html.HiddenFor(model => model.Id, Model.Id)
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socialLink)
        </dt>

        <dd>
            <a href="@Model.socialLink">Click me</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

    </dl>
    <div class="col-md-offset-2 col-md-10">
        @if (Model.friends)
        {
            <a href='https://localhost:44383/Friends/Unfriend?id=@Model.Id' class="btn btn-default col-lg-offset-1 red">Unfriend</a>
        }
        @if (!Model.sentrequest)
        {
            <a href='https://localhost:44383/Friends/SendRequest?id=@Model.Id' class="btn btn-default green">Send friend request</a>
        }
    </div>
</div>
