@model IEnumerable<MVC.ViewModels.FriendsVM>

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>

<p>
    @Html.ActionLink("Add new friend", "AddFriend")
</p>

<table class="table">
    <tr>
        <th>
            <label for="SearchName">Name</label>
        </th>
        <th>
            <label for="SearchEmail">Email</label>
        </th>
        <th>
            <label for="SearchRating" class="col-lg-offset-1">Rating</label>
        </th>
        <th>
            <label for="SearchFriendshipTier" class="col-lg-offset-1">Friendship tier</label>
        </th>
    </tr>
    <tr>
        <th>
            <input type="text" id="nameSearch" name="Search name" class="form-control" value="@ViewData["snVal"]">
        </th>
        <th>
            <input type="text" id="emailSearch" name="Search email" class="form-control" value="@ViewData["seVal"]">
        </th>
        <th>
            <input type="text" id="ratingSearch" name="Search rating" class="form-control" value="@ViewData["srVal"]">
        </th>
        <th>
            <input type="text" id="friendshipSearch" name="Search friendship" class="form-control" value="@ViewData["sfVal"]">
        </th>
        <th>
            <a href='https://localhost:44383/Friends/Index' onclick="this.href='https://localhost:44383/Friends/Index?sn='+document.getElementById('nameSearch').value+'&se='+document.getElementById('emailSearch').value+'&sr='+document.getElementById('ratingSearch').value+'&sf='+document.getElementById('friendshipSearch').value" class="btn btn-default">Search</a>
        </th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.displayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friendshipTier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.displayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.friendshipTier)
        </td>
        <td>
            @Html.ActionLink("View profile", "ViewProfile", new { id = item.Id }) |
            @if (!item.sentpending && !item.recievedpending)
            {
                @Html.ActionLink("Unfriend", "Unfriend", new { id = item.Id })
            }
            else if (item.recievedpending && !item.sentpending)
            {
                @Html.ActionLink("Accept request", "AcceptRequest", new { id = item.Id })
            }
            else if (item.sentpending && !item.recievedpending)
            {
                <p>Request sent</p> 
            }
        </td>
    </tr>
}

</table>
